/* Footer */
#click-event-footer{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    display: none;
}

body{
    margin: 0;
}

#footer-top{
    background-color: #E9E9E9;
}

#footer-top p{
    padding: 20px 0 10px 0;
    margin: 0;
    margin-left: 10%;
}

#EA-Play-terms{
    color: #FF4747;
    text-decoration: none;
}

 #div-for-hr-footer{
    background-color: #E9E9E9;
 }

#hr-footer{
    margin: 0 auto;
    width: 80%;
}

#footer-mid{
    margin: 0;
    padding: 1% 10%;
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
}

#footer-mid-links{
    padding: 0;
    margin-top: 10px;
    display: flex;
    gap: 5%;
    list-style: none;
    text-wrap: nowrap;
}

#footer-mid-links :hover{
    color: #FF4747;
}

.links-footer{
    color: black;
    text-decoration: none;
}

#social-media{
    padding: 0;
}

#join{
    text-align: end;
    margin: 0;
    padding-bottom: 10px;
}

#footer-social-media{
    width: 250px;
    display: flex;
    justify-content: space-between;
    height: 22px;
    list-style: none;
    padding: 0;
}

.eapl-network-footer__logo{
    width: 50px;
    height: 50px;
}

#footer-bottom{
    padding: 10px 13%;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3
}

#footer-region-language{
    display: flex;
    gap: 20px;
}

#special-div-regional, #special-div-language {
    border: solid 1px #C2C2C2;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    position: relative;
}

.p-footer-div{
    text-wrap: nowrap;
}

#div-region, #div-language{
    padding-right: 20px;
    gap: 10px;
    display: none;
    position: absolute;
    bottom: 105%;
    right: -25px;
    background-color: #F3F3F3;
    border: #C2C2C2 2px solid;
    box-shadow: 1px 7px 17px 3px #C2C2C2;
    z-index: 1;
}

.region-and-language{
    list-style: none;
    border-bottom: #C2C2C2 1px solid;
    padding: 10px 0;
    max-width: 120px;
    text-wrap: nowrap;
}

.region-and-language a{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    margin-right: 70px;
    transition: 0.1s ease-in-out;
}

.region-and-language img{
    padding-right: 10px;
}

.region-and-language a:hover{
    padding-left: 15px;  
}

#footer-logo-links{
    display: flex;
    gap: 20px;
}

.footer-network{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.footer-network li{
    padding: 0 20px;
}

.links-network{
    text-decoration: none;
    color: black;
}

.iconos-social-media{
    transition: 0.3s;
}

.iconos-social-media:hover{
    transform: scale(1.3);
}

#footer-legal-agreement{
    padding: 0 15%;
    background-color: #F3F3F3;
}

.last-footer{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 0;
}

#copyright{
   margin-left: 40px;
}

@media(max-width: 1456px){
    .footer-network{
        flex-wrap: wrap;
    }

    #footer-mid{
        flex-wrap: wrap;
    }
}

@media(max-width: 1024px){
    #footer-bottom{
        flex-wrap: wrap;
    }
    #footer-region-language{
        margin-left: 12%;
    }
    #div-region, #div-language{
        flex-direction: column;
        overflow: scroll;
        width: 300px;
        height: 400px;
    }

    #div-region ul, #div-language ul{
        margin: 0;
    }
}

@media(max-width: 768px){
    #footer-region-language{
        flex-wrap: wrap;
    }

    #special-div-regional, #special-div-language{
        width: 400px;
    }
}
